<html lang="en">

  <head>
    <title>About</title>
        <link rel="icon" href="/images/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <p>This site is created by :- Akshar Contractor. It uses mapbox.com and weatherstackapi.com!</p>
    <img class="portrait" src="/images/me.jpg" />

    </div>
    {{>footer}}
  </body>

</html>